<nav class="navbar navbar-default"><h1><u>Powered By:</u> {{autor}}</h1></nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>mes appareils-fifen</h2>
      <p>Mis a Jour: {{lastUpdate | async | date: 'EEEE d MMMM y'}}</p>
      <hr>
      <ul class="list-group">
        <app-appareil *ngFor="let appareil of appareils" [appareilName]="appareil.name" [appareilStatus]="appareil.status"></app-appareil>
      </ul>
      <hr>
      <button class="btn btn-success" [disabled]="!isAuth" (click)="onAllume()">tout Allumer</button>
    </div>
  </div>
</div>